<ol class="grammarpoints">
		<% @grammar_points.each do |gp| %>
			<li>
				<%= gp.content %>
				<!-- shouldnt be a link, should display GP and vocab lists within
				lesson show page -->
			</li>
		<% end %>
</ol>