<!-- this should be integrated into the home page and served to new users or people not logged in -->

<h1 class="center">speaksy</h1>
<h2 class="center">language learning democratized</h2> 
<!-- credit to yesid for this phrase 
			it would appeal to a niche hxc language learning audience but few others-->
<p>mission statement</p>
