<div class="center">
	<h1 class="h1 bold">
		Lesson 0 - 
		<a title="'Welcome!!' [e youkoso]" class="tooltip">へようこそ!!</a>
	</h1>
</div>

<!-- <div class="center">
	<h1 class="h1 bold">
		Lesson 0 - 
		<span id="poppa">へようこそ</span>
	</h1>

	<span id="popped" class="popped" style="display: none">"Welcome", or /e/ /youkoso</span>
</div>


<script type="text/javascript">
var e = document.getElementById('poppa');
e.onmouseover = function() {
  document.getElementById('popped').style.display = 'block';
}
e.onmouseout = function() {
  document.getElementById('popped').style.display = 'none';
}
</script> -->