<!-- <div class="center">
	<h1 class="h1 bold">
		Lesson 0 - 
		<a href="#" class="tooltip">へようこそ!!
			<span>
				Welcome!! [he yookoso]
			</span>
		</a>
	</h1>
	<p>This is where it all begins. Your 
		<a href="#" class="tooltip">りょこう
			<span>
				journey, trip [ryokoo]
			</span>
		</a> 

			to success in the world of 
			
		<a href="#" class="tooltip">日本語
			<span>
				Japanese language [nihongo]
			</span>
		</a>

			starts now!
		</p>
</div> -->

<div class="center">
	<h1 class="h1 bold">
		Lesson 0 - 
		<a title="'Welcome!!' [he yookoso]" class="tooltip">へようこそ!!</a>
	</h1>
	<p>This is where it all begins. Your 
		<a title="'journey, trip' [ryokoo]" class="tooltip">りょこう</a> 

			to success in the world of 
			
			<a title="'Japanese' [nihongo]" class="tooltip">日本語</a>

			starts now!
		</p>
</div>

<!-- <div class="center">
	<h1 class="h1 bold">
		Lesson 0 - 
		<span id="poppa">へようこそ</span>
	</h1>

	<span id="popped" class="popped" style="display: none">"Welcome", or /e/ /youkoso</span>
</div>


<script type="text/javascript">
var e = document.getElementById('poppa');
e.onmouseover = function() {
  document.getElementById('popped').style.display = 'block';
}
e.onmouseout = function() {
  document.getElementById('popped').style.display = 'none';
}
</script> -->