@import "basscss/basscss";

/* navbar */

.logo{
  letter-spacing: -1px;
  &:hover {
  color: #09f;
  text-decoration: none;
  }
}

/* body */

/* footer */

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}

/* forms */

