<header>
	<nav class="clearfix center">
		<%= link_to "Speaksy", 	root_path, :class => "logo m1 left" %>		
		<% if user_signed_in? %>
			<%= link_to "Log out", destroy_user_session_path, method: "delete", :class => "btn m1 right" %>
		<% else %>
				<%= link_to "Sign Up", 	new_user_registration_path, :class => "btn m1 right" %>
				<%= link_to "Log In", 	new_user_session_path, :class => "btn m1 right" %>
		<% end %>
	</nav>
</header>