<h1>Create a Lesson</h1>

<p>Need some way to create grammar points, vocab, etc...</p>

<div>
  <%= form_for(@lesson) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Save Lesson" %>
  <% end %>
</div>