<h1><%= @lesson.name %></h1>

<!-- show lessontext -->

<!-- show vocablist -->

<!-- show grammar_points -->
<%= @lesson.grammar_points.show %>

<!-- show exercises -->

<%= link_to "Create New Content", '#' %>
<!-- (need to write methods to create vocab, grammar points etc. to make this link/form... for the future) -->