<ol class="vocablists">
		<% @vocab_lists.each do |vl| %>
			<li>
				<%= link_to vl.name, vl %>
				<!-- shouldnt be a link, should display vocabs from this vocab list
				on lesson show page -->
			</li>
		<% end %>
</ol>