<h1>Chapters</h1> 

<!-- what is a chapter?
a set of lessons, vocabulary and exercises with a common theme, level or grammar structures 
is there a better name for this? -->

<style>
	div.char_title {
		margin-bottom: 8px; color: black; text-decoration: none;		
	}
	div.char_desc {
		margin-left: 20px; display: block; color: #333; text-decoration: none;		
	}
</style>

<div class="chapters" style = "width: 100%;">
	<!-- was a ul containing li's -->
		<% @chapters.each do |chapter| %>
			<div class = "chapter" style = "width: 15%; background-color: #e6f8ff; display: inline-block">
				<!-- add an image on the side to represent the chapter -->
				<div class = "char_title">
					<%= link_to chapter.name, chapter, {style: "margin-bottom: 8px; color: black; text-decoration: none; width: 100%;"} %>
				</div>
				<!-- when chapters can be linked to profiles, add the author's name, information about whether it's editable by everyone, etc -->
				<div class = "char_desc">
					<%= link_to chapter.description, chapter, {style: "margin-left: 20px; display: block; color: #333; text-decoration: none; width: 100;"} %>
				</div>
			</div>
		<% end %>
</div>
</br>
<%= link_to "New Chapter", new_chapter_path %>