<h1><%= @chapter.name %></h1>

<ol class="lessons">
		<% @lessons.each do |lesson| %>
			<li>
				<%= link_to lesson.name, lesson %>
				<!-- NEED TO MAKE THIS INTO A LINK TO LESSON PAGE -->
			</li>
		<% end %>
</ol>

<%= link_to "New Lesson", new_lesson_path %>