@import "basscss/basscss";

/* navbar */

.logo{
  letter-spacing: -1px;
  &:hover {
  color: #09f;
  text-decoration: none;
  }
}

/* body */

/* footer */

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}

/* forms */

.field {
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}

.field:focus,
.field.is-focused {
  outline: none;
  border-color: var(--field-focus-color);
  box-shadow: 0 0 0 2px color(var(--field-focus-color) a(.5));
}