<div class="container">
	<footer class="mt4 center bottom-0 border-top right block">

			<div class="footer center">
				<%= link_to "Chapters", chapters_path, :class => "button button-primary m1 bg-teal" %>
				<%= link_to "About", about_path, :class => "button button-primary m1 bg-teal" %>
				<%= link_to "Study", study_path, :class => "button button-primary m1 bg-teal" %>
				<%= link_to "Contact", contact_path, :class => "button button-primary m1 bg-teal" %>
			</div>
			
	</footer>
</div>